<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>free code bangladesh</title>
  </head>
  <body>
    <h1>Welcome to user free code bangladesh</h1>
    <p>Hello <%= user.name %>,</p>
    <h2>Activation Code <%= activationCode %></h2>
    <p>This is a sample email content.</p>
    <p>You can customize this template to include dynamic data as needed.</p>
    <p>Thank you,</p>
    <p>Your Tarif Al Hasan</p>
  </body>
</html>
